body {
    background-color: #041027;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    min-height: 100vh;
}

form {
    background: #1f2a44;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.1);
    padding: 4rem;
    max-width: 30vw;
    width: 100%;
    margin: 10vh auto;
    overflow: hidden;
    margin-top: 7rem;
}

.question-block {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.8rem;
    background-color: hsl(205, 51%, 93%);
    transition: background-color 0.3s ease;
}

.question-block:hover {
    background-color: #e9e9e9;
}

.question-block label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
}

.question-block input[type="text"],
.question-block select,
.question-block input[type="number"],
.question-block input[type="file"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 1rem;

}

.question-block input[type="text"]:focus,
.question-block select:focus,
.question-block input[type="number"]:focus,
.question-block input[type="file"]:focus {
    border-color: #03264a;
    box-shadow: 0 0 0.5rem #03264a;
    outline: none;
}
.question-block input{
    height: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1.2rem;
    background-color: hsl(205, 51%, 93%);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    height: 3rem;
}

button:active {
    transform: scale(0.97);
}

button:hover {
    background-color: #4a5b78;
    color: white;
}

.submit {
    margin-top: 1rem;
}

input[type="text"],
select,
input[type="number"],
input[type="file"],
.formula-input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.flashes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    color: #fff;
    max-width: 40vw;
    text-align: center;
    font-size: 1rem;
}

.alert-success {
    background-color: #4caf50;
}

.alert-error {
    background-color: #f44336;
}

.alert-warning {
    background-color: rgb(214, 214, 4);
}

header {
    background: #041027;
    padding-left: 1rem;
    padding: 1rem 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    margin-top: -13vh;
    padding-top: 1rem;
}

.header-line {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header-line img {
    height: 5vh;
    margin-left: 10%;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

.burger-line {
    width: 1.5rem;
    height: 0.2rem;
    background-color: white;
    margin: 0.25rem 0;
    transition: 0.4s;
}
h1 {
    margin: 0;
    text-align: center;
    /* text-transform: uppercase; */
    color: white;
    font-size: 1.6rem;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2.8rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15vw;
    background: #041027;
    box-shadow: -0.2rem 0 0.8rem rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.menu-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.menu-header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.menu-header img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.menu-header .username {
    flex: 1;
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

.close-btn {
    font-size: 2.4rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #007bff;
}

.menu-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    transition: background-color 0.3s, color 0.3s;

}

.menu-footer .menu-item {
    background-color: #041027;
    color: white;
    padding: 1.5rem 2rem;
    border-radius: 1.2rem;
    text-align: center;
    width: 100%;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.menu-footer .menu-item:hover {
    background-color: #007bff;
}

.menu-item:hover {
    background-color: #041027;
    color: #007bff;
}

.menu-footer {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    justify-content: center;
    z-index: 1001;
}

.menu-overlay.active {
    transform: translateX(0);
}

@media (max-width: 425px) {
    body {
        font-size: 0.6rem;
    }
    form{
        max-width: 80vw;
    }
    button {
        font-size: 0.6rem;
        height: 3rem;
        font-weight: bolder;
    }
    .question-block {
        font-size: 0.6rem !important;
        height: 3rem !important;
    }
    .question-block input {
        font-size: 0.6rem !important;
        height: 1.5rem !important;
        padding: 0.5rem 0.5rem !important;
    }
    .question-block select {
        font-size: 0.6rem !important;
        height: 2rem !important;
        padding: 0.5rem 0.5rem !important;
    }
    .question-block label {
        font-size: 0.6rem !important;
    }
    h1 {
        font-size: 1.2rem;
    }
    .menu-overlay{
        width: 60vw;
    }
    .menu-item {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
    .menu-header {
        margin-bottom: 0.5rem;
    }
    form{
        padding: 2rem 1rem;
    }
    .flashes{
        margin: 1rem 0;
    }
    .menu-header .username {
        font-size: 1rem;
    }
}

@media (min-width: 426px) and (max-width: 1026px) {
    body {
        font-size: 0.8rem;
    }
    .header-line{
        padding: 0rem 1rem;
    }
    form{
        max-width: 60vw;
    }
    button {
        font-size: 0.8rem;
        height: 3rem;
        font-weight: bolder;
    }
    .question-block {
        font-size: 0.8rem !important;
    }
    .question-block input {
        font-size: 0.8rem !important;
        height: 2rem !important;
    }
    .question-block select {
        font-size: 0.8rem !important;
        height: 2rem !important;
        padding: 0.4rem 0.4rem !important;
    }
    .question-block label {
        font-size: 0.8rem !important;
    }
    h1 {
        font-size: 1.5rem;
    }
    .menu-overlay{
        width: 32vw;
    }
}

@media (min-width:1026px ) and (max-width: 1441px) {
    body {
        font-size: 0.8rem;
    }
    form{
        max-width: 50vw;
    }
    h1{
        font-size: 1.5rem;
    }
    .menu-overlay{
        width: 20vw;
    }
    .question-block select {
        font-size: 0.8rem !important;
        height: 2rem !important;
        padding: 0.4rem 0.4rem !important;
    }
}