* {
    margin: 0px;
    padding: 0px;
    top: 0px;
}

body {
    margin: 0px;
    overflow-x: hidden;
    background: #041027;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
}

img {
    margin-right: 480px;
    width: 100%;
    height: auto;
    display: block;
}

.container {
    margin: 0px 150px;
    line-height: 1.2;
}

.box {
    background-color: #1f2a44; /* Цвет фона прямоугольников */
    color: white; /* Цвет текста */
    padding: 20px; /* Внутренний отступ */
    margin: 20px 0; /* Внешний отступ сверху и снизу */
    border-radius: 5px; /* Скругление углов */
    transition: all 0.3s; /* Плавный переход при изменении размеров */
}

.box h2 {
    margin-bottom: 10px; /* Отступ снизу заголовка */
}

input[type="file"] {
    margin-bottom: 10px; /* Отступ снизу от поля выбора файла */
    padding: 5px;
    border: none;
    border-radius: 5px; /* Скругление углов поля */
    background-color: #2a3b56; /* Цвет фона поля */
    color: white; /* Цвет текста */
}

/* button {
    padding: 10px 15px; 
    border: none;
    border-radius: 5px; 
    background-color: #3b4a68; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s; 
} */
button {
    padding: 10px 15px; 
    border: none;
    border-radius: 12px; 
    background-color: hsl(205, 51%, 93%);
    color: black; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    height: 40px;
} 


button:hover {
    background-color: #4a5b78; /* Цвет фона кнопки при наведении */
}

#fileList {
    margin-top: 15px; /* Отступ сверху для списка файлов */
    list-style-type: none; /* Убираем маркеры списка */
    padding-left: 0; /* Убираем отступ слева */
}

#fileList li {
    margin: 5px 0; /* Отступ между элементами списка */
    padding: 5px; /* Внутренний отступ для элемента списка */
    background-color: #2a3b56; /* Цвет фона элемента списка */
    border-radius: 5px; /* Скругление углов элемента списка */
}


.nav {
    display: flex;
    gap: 15px;
}

.nav-item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 0.5rem 0;
    overflow: hidden;
    margin-top: 20px; 
    text-align: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 40%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.42s cubic-bezier(.25, .8, .25, 1);
}

.nav-item:hover::after {
    transform: translateX(-50%) scaleX(1);
}
