body {
    background: #011a31;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}
.form {
    background: #03264a;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.form h1 {
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 24px;
}
.form p {
    text-align: center;
    margin: 10px 0;
    color: rgb(220, 228, 252);
    font-size: 16px;
}
.form h2 {
    text-align: center;
    color: rgb(220, 228, 252);
    margin: 10px 0;
    font-size: 18px;
}
.group {
    position: relative;
    margin: 15px 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
}
.group input {
    text-align: left;
    height: 35px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 255);
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px; /* Добавлен отступ слева */
    padding-right: 40px; /* Добавлен отступ справа */
}
.group label {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(220, 228, 252);
    background-color: #03264a;
    padding: 0 5px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.group input:placeholder-shown + label {
    top: 10px;
    background-color: transparent;
}
.group input:focus {
    border-color: #3366cc;
}
.group input:focus + label {
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #03264a;
    color: #3366cc;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}
.form a {
    text-align: center;
    display: block;
    color: rgb(220, 228, 252);
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}
.button {
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    padding: 10px 14px;
    border-radius: 12px;
    color: #03264a;
    margin: 20px auto 0;
    width: 80%;
    max-width: 300px;
    height: 40px;
    transition: all 0.3s linear;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button.blue {
    background: hsl(205, 51%, 93%);
}
.button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.button:hover.blue {
    background: #2e45b8;
}
.button:active {
    background: #b3d1ff;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
.button i {
    margin-right: 4px;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 22%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.toggle-password:hover {
    color: #3366cc;
}


@media (max-width: 600px) {
    .form {
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .group input {
        width: 100%;
        font-size: 14px;
    }
    .button {
        width: 100%;
        font-size: 14px;
    }
    .group label {
        font-size: 14px;
        top: -3px;
    }
    .group input:focus + label {
        font-size: 14px;
        top: -3px;
    }
    .toggle-password {
        right: 10%;
    }
}
@media (max-width: 400px) {
    .form {
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .group input {
        width: 100%;
        font-size: 14px;
    }
    .button {
        width: 100%;
        font-size: 14px;
    }
    .group label {
        font-size: 14px;
        top: -3px;
    }
    .group input:focus + label {
        font-size: 14px;
        top: -3px;
    }
    .toggle-password {
        right: 5%;
    }
}
@media (max-width: 300px) {
    .form {
        padding: 10px;
        width: 100%;
        height: auto;
    }
    .group input {
        width: 100%;
        font-size: 12px;
    }
    .button {
        width: 100%;
        font-size: 12px;
    }
    .group label {
        font-size: 12px;
    }
    .group input:focus + label {
        font-size: 12px;
    }
    .form h1 {
        font-size: 20px;
    }
    .form p, .form h2 {
        font-size: 14px;
    }
    .toggle-password {
        right: 5%;
    }
}
@media (max-width: 250px) {

    .form {
        padding: 10px;
        width: 100%;
        height: auto;
        font-size: 15px;
    }
    .group input {
        width: 100%;
        font-size: 5px;
    }
    .button {
        width: 100%;
        font-size: 10px;
    }
    .group label {
        font-size: 10px;
    }
    .group input:focus + label {
        font-size: 10px;
    }
    .form h1 {
        font-size: 18px;
    }
    .form p, .form h2 {
        font-size: 12px;
    }
    .button span {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .toggle-password {
        right: 5%;
    }
    .group input:not(:placeholder-shown) + label {
        top: -2px; /* Уменьшите значение top для очень маленьких экранов */
        font-size: 12px; /* Уменьшите размер шрифта, если необходимо */
    }

}
@media (min-width: 50px) and (max-width: 150px) {
    .form {
        padding: 10px;
        width: 100%;
        height: auto;
        font-size: 10px; /* Уменьшите размер шрифта для всего формы */
    }
    .group input {
        width: 100%;
        font-size: 10px; /* Уменьшите размер шрифта для полей ввода */
    }
    .button {
        width: 100%;
        font-size: 10px; /* Уменьшите размер шрифта для кнопки */
    }
    .group label {
        font-size: 10px; /* Уменьшите размер шрифта для меток */
    }
    .group input:focus + label {
        font-size: 8px; /* Уменьшите размер шрифта для меток при фокусе */
    }
    .form h1 {
        font-size: 10px; /* Уменьшите размер шрифта для заголовка h1 */
    }
    .form p, .form h2 {
        font-size: 8px; /* Уменьшите размер шрифта для абзацев и заголовков h2 */
    }
    .toggle-password {
        font-size: 8px; /* Уменьшите размер шрифта для иконки просмотра пароля */
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .form {
        padding: 15px;
        width: 80%;
        max-width: 600px;
    }
    .group input {
        width: 95%;
        font-size: 14px;
    }
    .button {
        width: 90%;
        font-size: 14px;
    }
    .group label {
        font-size: 14px;
        top: -3px;
    }
    .group input:focus + label {
        font-size: 14px;
        top: -3px;
    }
    .toggle-password {
        right: 17%;
    }
}
@media (min-width: 1025px) {
    .form {
        padding: 20px;
        width: 70%;
        height: auto;
        max-width: 700px;
    }
    .group input {
        width: 90%;
    }
    .button {
        width: 85%;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #03264a inset !important;
    -webkit-text-fill-color: white !important;
}


.question-block input[type="text"]:focus,
.question-block select:focus,
.question-block input[type="number"]:focus,
.question-block input[type="file"]:focus {
    box-shadow: 0 0 5px #3366cc;
    outline: none;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    border-color: #3366cc;
}
textarea,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.question-block textarea,
.question-block select {
    width: calc(100% - 20px);
    left:50%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #03264a;
    color: rgb(220, 228, 252);
    font-size: 16px;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
    border-radius: 12px;
    box-shadow: inset 0 1px 3px white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}
.question-block {
    width: 425px; /* Измените ширину на 100%, чтобы заполнить контейнер */
    border-radius: 12px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    align-items: center;
}
.flashes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    max-width: 400px; /* Убедитесь, что ширина установлена */
    text-align: center; /* Центрирование текста внутри алерта */
}

.alert-success {
    background-color: #4caf50;
}

.alert-error {
    background-color: #f44336;
}
.alert-warning{
    background-color: rgb(214, 214, 4);
}
