<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shishkina Lera">
    <meta name="description" content="Выполните вход в научно-исследовательскую систему 'Исследование операций', чтобы начать обучение по данной дисциплине.">
    <title>Вход</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="..\static\css\authentication.css">
</head>
<body>
    <form method="POST" action="/entrance" class="form">
        <h1>ВХОД</h1>
        <p>в научно-исследовательскую систему</p>
        <h2>"Исследование операций"</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="group">
            <input type="text" placeholder="‎" name="login" required id="login" value="{{ login if login else '' }}">
            <label for="login">Логин</label>
        </div>
        <div class="group">
            <input type="password" placeholder="‎" name="password" required id="password">
            <label for="password">Пароль</label>
            <span class="toggle-password" onclick="togglePassword('password')"><i class="fas fa-eye"></i></span>
        </div>

        <button id="loginButton" class="button blue">
            <i class="fa fa-unlock"></i>
            <span><b>Войти</b></span>
        </button>
        <a href="/register" class="register">Зарегистрироваться</a>
    </form>

    <script>
        function togglePassword(fieldId) {
            var passwordField = document.getElementById(fieldId);
            if (passwordField) {
                var passwordFieldType = passwordField.getAttribute("type");
                if (passwordFieldType === "password") {
                    passwordField.setAttribute("type", "text");
                } else {
                    passwordField.setAttribute("type", "password");
                }
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
