<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    <title>{{ section_name }}</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="header-line">
                <div class="burger-menu" id="burgerMenu">
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                </div>
                <img src="..\static\images\logo_WUoITg47.png" alt="Логотип">
                
            </div>
        </div>
    </header>
    <div class="menu-overlay" id="menuOverlay">
        <div class="menu-content">
            <div class="menu-header">
                <span class="username">Гость</span>
                <span class="close-btn" id="closeMenu">&times;</span>
            </div>
            <div class="menu-links">
                <a class="menu-item" href="/mainLecturer#first">ГЛАВНАЯ</a>
                <a class="menu-item" href="/mainLecturer#teoriya">МАТЕРИАЛЫ</a>
                <a class="menu-item" href="/mainLecturer#functionality">ФУНКЦИОНАЛЬНОСТЬ</a>
                <a class="menu-item"href="/settings">НАСТРОЙКИ</a>
                <a class="menu-item" href="/logout">ВЫХОД</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <h1 class="nav-item">{{ section_name }}</h1>
        </div>
        <div class="container">
            <div class="box" id="material">
                <h2 class="nameSection">Материалы</h2>
                <div class="flashes-container"></div>
                <div id="downloadFileList" class="file-list"></div>
            </div>
            <div class="box">
                <h2 class="nameSection" id = "#nameSectionTest">Тесты</h2>
                <div class="flashes-container"></div>
                <div id="testsListStudent" class="file-list"></div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="..\static\js\pageStudent.js"></script>
</body>
</html>
