<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
    <title>{{ section_name }}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="nav-item">{{ section_name }}</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="box" id="material">
                <h2 class="nameSection">Материалы</h2>
                <div class="flashes-container"></div>
                <div id="downloadFileList" class="file-list"></div>
            </div>
            <div class="box">
                <h2 class="nameSection" id = "#nameSectionTest">Тесты</h2>
                <div class="flashes-container"></div>
                <div id="testsListStudent" class="file-list"></div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="..\static\js\pageStudent.js"></script>
</body>
</html>
