<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shishkina Lera">
    <meta name="description" content="Зарегистрируйтесь на сайте научно-исследовательской системы 'Исследование операций', чтобы начать обучение по данной дисциплине. Регистрация занимает всего несколько минут.">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="..\static\css\authentication.css">
</head>
<body>
    <form method="POST" class="form">
        <h1>РЕГИСТРАЦИЯ</h1>
        <p>в научно-исследовательской системе</p>
        <h2>"Исследование операций"</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="group">
            <input type="text" placeholder="‎" name="name" required id="name" value="{{ form.name if form.name else '' }}" title="В данном поле необходимо указать ваш логин.">
            <label for="name">Логин</label>
        </div>
        <div class="group">
            <input type="email" placeholder="‎" name="email" required id="email" value="{{ form.email if form.email else '' }}" title="В данном поле необходимо указать вашу электронную почту.">
            <label for="email">Ваш e-mail</label>
        </div>
        <div class="group">
            <input type="password" placeholder="‎" name="password" required id="password" title="В данном поле необходимо указать пароль (минимум 8 символов).">
            <label for="password">Пароль</label>
            <span class="toggle-password" onclick="togglePassword('password')"><i class="fas fa-eye"></i></span>
        </div>
        <div class="group">
            <input type="password" placeholder="‎" name="repetpassword" required id="repetpassword" title="Введите пароль повторно.">
            <label for="repetpassword">Повтор пароля</label>
            <span class="toggle-password" onclick="togglePassword('repetpassword')"><i class="fas fa-eye"></i></span>
        </div>
        <div class="group">
            <div class="question-block">
                <select id="direction" name="direction">
                    <option disabled {% if not form.direction %}selected{% endif %} value="" style="text-align: center;">
                        Выберите направление подготовки
                    </option>
                    {% for direction in directions %}
                        <option value="{{ direction }}" 
                                {% if form.direction == direction %}selected{% endif %}>
                            {{ direction }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>  
        <div class="group">
            <div class="question-block">
                <select id="group" name="group">
                    <option disabled {% if not form.group %}selected{% endif %} value="" style="text-align: center;">
                        Выберите группу
                    </option>
                    {% for group in groups %}
                        <option value="{{ group }}" 
                                {% if form.group == group %}selected{% endif %}>
                            {{ group }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>      
        <button id="loginBtn" class="button blue">
            <i class="fa fa-unlock"></i>
            <span><b>Зарегистрироваться</b></span>
        </button>
        <a href="/entrance" class="entrance">Войти</a>
    </form>
    <script>
        function togglePassword(fieldId) {
            var passwordField = document.getElementById(fieldId);
            var passwordFieldType = passwordField.getAttribute("type");
            if (passwordFieldType === "password") {
                passwordField.setAttribute("type", "text");
            } else {
                passwordField.setAttribute("type", "password");
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>