<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/page.css">
    <title>Настройки</title>
</head>
<body>
    <header>
        <div class="containerr">
            <div class="header-line">
                <div class="burger-menu" id="burgerMenu">
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                    <span class="burger-line"></span>
                </div>
                <img src="..\static\images\logo_WUoITg47.png" alt="Логотип">
                
            </div>
        </div>
    </header>
    <div class="menu-overlay" id="menuOverlay">
        <div class="menu-content">
            <div class="menu-header">
                <span class="username">Гость</span>
                <span class="close-btn" id="closeMenu">&times;</span>
            </div>
            <div class="menu-links">
                <a class="menu-item" href="/mainLecturer#first">ГЛАВНАЯ</a>
                <a class="menu-item" href="/mainLecturer#teoriya">МАТЕРИАЛЫ</a>
                <a class="menu-item" href="/mainLecturer#functionality">ФУНКЦИОНАЛЬНОСТЬ</a>
                <a class="menu-item"href="/settings">НАСТРОЙКИ</a>
                <a class="menu-item" href="/logout">ВЫХОД</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <h1 class="nav-item">Настройки</h1>
        </div>
        <div class="container">
            <div class="box">
                <h2 class = "nameSection">Материалы для изучения дисциплины</h2>
                <div class="input-container">
                    <input type="text" id="themeNameInput" class = "question-block" placeholder="Введите название раздела">
                    <button id="addThemeButton">Добавить</button>
                </div>
                <div id="themeList" class="theme-list"></div>
            </div>
            <div class="box">
                <h2 class="nameSection">Добавить администратора</h2>
                <div class="input-container">
                    <select id="studentDropdownForAdmin" class="question-block">
                        <option disabled selected value="">Выберите пользователя</option>
                    </select>
                    <button id="addAdminButton">Добавить</button>
                </div>
                <div id="adminList" class="theme-list"></div>
            </div>            

            <div class="box" id="deleteStudentsBox">
                <h2 class = "nameSection">Удаление пользователей с курса</h2>
                <div class="input-container">
                    <select id="directionDropdown" class="question-block">
                        <option disabled selected value="saddlePoints">Выберите направление</option>
                    </select>
                </div>
                <div class="input-container">
                    <select id="groupDropdown" class="question-block">
                        <option disabled selected value="saddlePoints">Выберите группу</option>
                    </select>
                </div>
                <div class="buttonContainer">
                    <button id="deleteStudentsButton">Удалить</button>
                </div>
            </div>
            
            <div class="box" id="deleteStudentBox">
                <h2 class="nameSection">Удаление пользователя с курса</h2>
                <div class="input-container">
                    <select id="studentDropdownForDelete" class="question-block">
                        <option disabled selected value="">Выберите пользователя</option>
                    </select>
                </div>
                <div class="buttonContainer">
                    <button id="deleteStudentButton">Удалить</button>
                </div>
            </div>

            <div class="box" id="changeStudentGroupBox">
                <h2 class="nameSection">Изменить группу у пользователя</h2>
                <div class="input-container">
                    <select id="studentDropdownForGroupChange" class="question-block">
                        <option disabled selected value="">Выберите пользователя</option>
                    </select>
                </div>
                <div class="input-container">
                    <select id="groupDropdownForChange" class="question-block">
                        <option disabled selected value="">Выберите группу</option>
                    </select>
                </div>
                <div class="buttonContainer">
                    <button id="changeStudentGroupButton">Сменить</button>
                </div>
            </div>
            <div class="box" id="changeStudentDirectionBox">
                <h2 class="nameSection">Изменить направление подготовки у пользователя</h2>
                <div class="input-container">
                    <select id="studentDropdownForDirectionChange" class="question-block">
                        <option disabled selected value="">Выберите пользователя</option>
                    </select>
                </div>
                <div class="input-container">
                    <select id="directionDropdownForChange" class="question-block">
                        <option disabled selected value="">Выберите направление</option>
                    </select>
                </div>
                <div class="buttonContainer">
                    <button id="changeStudentDirectionButton">Сменить</button>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="..\static\js\settings.js"></script>
</body>
</html>
